In [1]:
print(111)

111

In [ ]:
# 주석 => 코드 내부에서 사용, 코드로 인식 X, 간단한 메모
# 변수 => 데이터를 저장(메모리: 플레시메로리)하는 방식
# 변수이름(식별자) = 값(데이터: 숫자, 문자열, 논리값(True,False), 객체)
# 변수에는 데이터를 저장하고 있는 메모리의 주소값을 저장 -> 내부적인 핵심
num = 10    # 변수를 왜 저장? => 필요할 때 마다 부르고 사용하기 위해

In [ ]:
print(num)  # 변수를 사용

10

In [ ]:
id(num)     # id = 메모리외 주소값

140723972359368

In [7]:
num+100

110

In [8]:
# 변수 = 데이터
# 데이터 => 숫자, 문자, 논리값
# 숫자 => 정수, 실수
num1=10
num2=3.14

In [11]:
print(type(num1))
print(type(num2))

<class 'int'>
<class 'float'>

In [12]:
num3='hello~'

In [14]:
print(num3)
print(type(num3))

hello~
<class 'str'>

In [16]:
# 논리값 : 참, 거짓 => True, False
check1 = True
check2 = False

In [ ]:
print(check1, type(check1))
print(check2, type(check2))
# 'bool' 타입은 True, False 만 저장하고 있음

True <class 'bool'>
False <class 'bool'>

In [24]:
str_a = 'python'

In [25]:
str_a.upper()
# 주소값.메서드()

'PYTHON'

In [26]:
print(type(str_a))

<class 'str'>

In [27]:
str_a = 100

In [28]:
print(str_a, type(str_a))

100 <class 'int'>

In [1]:
# 문자열 생성
# ''. "". ''' ''', """ """
str_1='hello~'
str_2="안녕하세요"
str_3='''첫째 라인
안녕하세요
반갑습니다.
'''
str_4="""
select *
from emp
where empno=10
"""

In [6]:
print(str_1, type(str_1))
print(str_2, type(str_2))
print(str_3, type(str_3))
print(str_4, type(str_4))

hello~ <class 'str'>
안녕하세요 <class 'str'>
첫째 라인
안녕하세요
반갑습니다.
 <class 'str'>

select *
from emp
where empno=10
 <class 'str'>

In [9]:
# 문자열의 연산
# 사칙연산 X => 더하기(연결)
# 곱샘 * => 반복(몇번 반복)
print('hello'+' python!!')
print('='*10)

hello python!!
==========

In [11]:
# 함수(기능) : 데이터 전달하면 => 처리(연산) -> 값을 반환
# 문자열의 길이 반환 함수 : len(변수:시퀀스형식의 데이터)
print(len(str_1))      # 6
print(len(str_2))      # 5

6
5

In [ ]:
# 문자열 : 시퀀스 데이터 => 순서 O
# 시퀀스 데이터의 데이터들의 구분 => index값
# hello => ['h', 'e', 'l', 'l', 'o']
#   index => 0    1    2    3    4   => 0 ~ N-1 => 0~4
str_5='hello~ python!!'
#      0123456789..

In [20]:
str_5[5]

'~'

In [21]:
# 문자열(시퀀스)의 슬라이싱
# s[시작 index : 종료 index]   => 종료 index값을 만나면 탈출
# str_5[0 : 5]
str_5[0 : 5]

'hello'

In [ ]:
# 문자열 포맷팅
# 3.6 버번 이후 f""  , 접두사 f 붙이고 포맷팅
user_name='손흥민'
user_age=30
print(f'안녕하세요! 저는 {user_name} 입니다. 나이는 {user_age} 입니다.')

안녕하세요! 저는 손흥민 입니다. 나이는 30 입니다.

In [24]:
print(f'내년에는 나이가 {user_age+1}살이 됩니다.')

내년에는 나이가 31살이 됩니다.

In [25]:
# 복합 대입 연산
num = 1

In [26]:
num = num + 1       # 대입 연산(=)은 마지막에 처리

In [27]:
print(num)

2

In [28]:
num += 1            # num = num + 1을 간략화해서 보여주는 식

In [29]:
print(num)

3

### 연습문제 1
과목별 점수, 총점, 평균점수 출력
과목 : 국어, 영어, 수학

In [49]:
# 과목별 점수의 총합과 평균 및 총점과 평균 출력
# 변수 선언, 초기화
korean = 85         # 국어점수
english = 74        # 영어점수
math = 96           # 수학점수

sum = korean + english + math       # 점수의 총점
mean = sum / 3                      # 평균

print(f'국어={korean} 영어={english} 수학={math} \n총점={sum} \n평균={mean}')

국어=85 영어=74 수학=96
총점=255
평균=85.0

### 연습문제 2
성별이 남성이고 18세 이상인 성인 여부를 판단하는 조건식

In [55]:
# 성별이 남성이고 18세 이상의 성인 여부를 판단하는 조건식
# 변수 선언
gender='M'      # 성별 : 'M' | 'F'
age= 20

In [58]:
# 2. 남성 그리고 성인
check = gender == 'M' and age >= 18

In [59]:
# 3. 출력
print('성인 남성 체크 :', check)

성인 남성 체크 : True

In [64]:
# 리스트 : [] => 순서를 가지는 데이터 묶음
# index 값으로 요소들을 참조 => 0 ~ N(요소의 개수)-1
list_a=[1,2,3]
# index 0 1 2
# 요소의 개수 : 3

In [67]:
print(list_a, type(list_a))

[1, 2, 3] <class 'list'>

In [ ]:
# 25.06.09 배운 클래스
# bool(), int(), flaot(), str(), list()

In [69]:
# 요소의 참조
list_a[2]

3

In [ ]:
list_a[2] = 4       # list_a의 두번째 인덱스 값을 4로 변환

In [ ]:
list_a[2]       # list_a[2]의 값이 3에서 4로 변환됨을 확인

4